*::before,
*,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

html,
body{
  margin: 0 auto;
  height: 200vh;
  width: 100%;
  font-family: sans-serif, cursive;
}

/* width */
::-webkit-scrollbar {
  width: .35rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f3f3f3;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  height: 50px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}